<h1>Update your Planet!</h1>


<form action="/planet/<%= planet['id']%>" method="post">
    <input type="hidden" name="_method" value="patch">
    <div>
        <label for="">Name </label>
        <input type="text" name="name" value="<%= planet['name']%>">
    </div>
        <label for="">Diamter (km)</label>
        <input type="text" name="diameter" value="<%= planet['diameter']%>">
    <div>
        <label for="">Mass (kg)</label>
        <input type="text" name='mass' value="<%= planet['mass']%>">
    </div>
        <label for="">Number of mooons </label>
        <input type="text" name="moon_count" value="<%= planet['moon_count']%>">
    <div>
        <label for="">Image URL </label>
        <input type="text" name="image_url" value="<%= planet['image_url']%>">
    </div>
    <button>Update Planet</button>
</form>