<h1>Planets</h1>

<h2>These are the planets currently in your Database</h2>
<table>
    <tr>
        <th>Planet</th>
        <th>Diamter (km)</th>
        <th>Mass (kg)</th>
        <th>Moons</th>
        <th>Pic</th>
    </tr>
<% planets.each do |planet| %>
    <tr>
        <td><%= planet["name"] %> </td>
        <td><%= planet["diameter"] %> </td>
        <td><%= planet["mass"] %> </td>
        <td><%= planet["moon_count"] %> </td>
        <td>
            <img src="<%= planet["image_url"] %>" alt="">
        </td>
        <td>
            <a href="/planet/<%= planet["id"] %>">Details</a>
        </td>
    </tr>
<% end %>
</table>
