<h1>Details</h1>

<p><%= dish["name"] %></p>
<img src="<%= dish["image_url"] %>" alt="">

<form action="/dishes?id=<%=dish["id"]%>" method="post">
    <input type="hidden" name="_method" value="delete">
    <button>Delete</button>
</form>

<a href="/dishes/<%= dish["id"] %>/edit">Update</a>

<h3>Dish added by <%= find_user_by_id(dish["user_id"])["email"] %></h3>